@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  display: grid;
}
#container {
  display: inline-block;
  margin: 10px auto;
}
#heading {
  text-align: center;
  font-size: 40px;
}
#get-player {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  color: #59CD90;
  align-items: center;
}
#player-1 {
  margin-left: 4px;
}
input[type=text] {
  font-size: 16px;
  border: none;
  background-color: #59cdca;
  outline: none;
  padding: 5px;
  border-radius: 400px;
}
input[type=text]:focus {
  background-color: #3bc47c;
}
#start {
  margin-top: 10px;
  width: 150px;
  padding: 10px;
  font-size: 20px;
  background-color: #59CD90;
  border: none;
  border-radius: 10px;
}
#start:hover {
  font-weight: bold;
  background-color: #3bc47c;
}
#now-playing {
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
  color: wheat;
}
#game-board {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 25px auto;
  width: 500px;
  height: auto;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 cyan;
  border: 1px solid cyan;
}
.cells {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  border: 1px solid cyan;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: cyan;
}
.cells:hover {
  background-color: cyan;
  color: black;
}
.cells:active {
  background-color: black;
  color: white;
}
#buttons {
  display: none;
  text-align: center;
}
#reset {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #ff4d4d;
  color: black;
}
#reset:hover {
  background-color: red;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  #heading {
    margin-top: 10px;
    font-size: 25px;
  }
  #game-board {
    width: 80vw;
  }
  .cells {
    height: 16vh;
  }
}